.nav {
    grid-area: nav;
    background-color: burlywood;
    padding: 20px;
  }
.item {
  color: red;
}
.item {
    color: white;
    margin-top: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.activeLink {
  color: black;
}
.item a:hover {
  color: black;
}
.color {
  color: white;
}
